.Button {
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	background-color: #0078d4;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
  }
  
  .Menu > div {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 1rem;
  }
  
  .Time,
  .Date {
	margin: 0;
  }
  
  .Time {
	font-size: 1.5rem;
  }
  
  .Date {
	color: var(--foreground-color-1);
  }
  
  .Calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
  }
  
  .CalendarHeader {
	display: block;
	width: 100%;
	padding: 0 1rem;
	margin-bottom: 1rem;
	text-align: center;
	position: relative;
  }
  
  .CalendarHeader button {
	background-color: #0078d4;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	color: #ffffff;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1; /* Ensure buttons are on top */
  }
  
  .CalendarHeader .prevButton {
	left: 0;
  }
  
  .CalendarHeader .nextButton {
	right: 0;
  }
  
  .CalendarHeader span {
	display: inline-block;
	z-index: 0; /* Ensure span is behind buttons */
  }
  
  .Weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 100%;
	background-color: #0078d4;
  }
  
  .Weekday {
	text-align: center;
	padding: 0.5rem;
	font-weight: bold;
  }
  
  .CalendarGrid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr); /* Ensure six rows */
	gap: 0.5rem;
	margin-top: 1rem;
	width: 100%;
  }
  
  .CalendarCell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border: 1px solid #ccc;
	cursor: pointer;
	position: relative;
  }
  
  .CalendarCell:hover {
	background-color: #0078d4;
  }
  
  .CurrentDay {
	background-color: #0078d4;
	color: white;
	box-shadow: 0 0 10px #0078d4, 0 0 20px #0078d4;
  }
  
  .CalendarFooter {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 1rem;
  }
  
  .CalendarFooter button {
	background-color: #0078d4;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	color: #ffffff;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .CalendarFooter button:hover {
	background-color: #005bb5;
	color: #ffffff;
  }
  