.Menu > div {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	flex-direction: column;
}

.Menu > div > svg {
	width: auto;
	height: 1rem;
}

.Menu > div > p {
	margin: 0;
	font-size: 0.3rem;
}

.currentNetwork {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.networksList {
	width: 100%;
}

.network {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.1rem 1rem;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.network:hover {
	background-color: #666666;
}